In [63]:
from pathlib import Path
import pandas as pd

# ノートブックを keiba-model/notebooks/ に置いている前提
base_dir = Path.cwd().parent  # notebooks の1つ上 = プロジェクトルート
html_path = base_dir / "data" / "raw" / "jra" / "race_pw01sde1008202503091120251026_59.html"

print(html_path)
print(html_path.exists())

c:\Users\r_bas\keiba-model\data\raw\jra\race_pw01sde1008202503091120251026_59.html
True

In [64]:
dfs = pd.read_html(html_path, encoding="utf-8")  # 保存時にUTF-8にしたのでutf-8でOK
len(dfs)

3

In [65]:
for i, df in enumerate(dfs):
    print("===== TABLE", i, "=====")
    display(df.head(10))  # 先頭10行だけ表示

===== TABLE 0 =====

,着順,枠,馬 番,馬名,性齢,負担 重量,騎手名,タイム,着差,コーナー 通過順位,推定上り,馬体重 （増減）,調教師名,単勝 人気,Rt
0,1,NaN,9,エネルジコ,牡3,57.0,C.ルメール,3:04.0,NaN,15 14 8 4,35.0,456(-12),高柳 瑞樹,1,118
1,2,NaN,15,エリキング,牡3,57.0,川田 将雅,3:04.3,２,17 17 12 8,35.2,508(-2),中内田 充正,2,115
2,3,NaN,14,エキサイトバイオ,牡3,57.0,荻野 極,3:04.4,３／４,4 5 2 1,35.7,480(+8),今野 貞一,13,114
3,4,NaN,12,ゲルチュタール,牡3,57.0,坂井 瑠星,3:04.4,ハナ,9 9 12 8,35.2,524(+8),杉山 晴紀,5,114
4,5,NaN,18,レッドバンデ,牡3,57.0,佐々木 大輔,3:04.5,クビ,7 6 6 4,35.5,482(-4),大竹 正博,9,113
5,6,NaN,6,ミラージュナイト,牡3,57.0,藤岡 佑介,3:04.5,クビ,18 18 17 14,35.1,492(+6),辻野 泰之,8,113
6,7,NaN,1,コーチェラバレー,牡3,57.0,西村 淳也,3:04.6,３／４,15 16 12 14,35.3,438(-4),安田 翔伍,15,112
7,8,NaN,5,ジョバンニ,牡3,57.0,松山 弘平,3:04.7,クビ,9 9 12 16,35.2,478(+2),杉山 晴紀,6,112
8,9,NaN,8,レクスノヴァス,牡3,57.0,横山 和生,3:04.8,クビ,2 3 3 2,36.0,484(-6),上村 洋行,10,111
9,10,NaN,13,アロンディ,牡3,57.0,団野 大成,3:05.1,２,11 12 8 8,35.9,452(0),武 英智,17,109

===== TABLE 1 =====

        0                                                  1
0  ハロンタイム  13.1 - 11.6 - 11.7 - 12.8 - 11.6 - 12.7 - 13.2...
1      上り                                  4F 47.4 - 3F 35.3

===== TABLE 2 =====

            0                                                  1
0       1コーナー  10-(4,8)(7,14)3(18,16)(5,12)(2,13,17,11)(1,9)15,6
1       2コーナー    10,4,8,7,14(3,18,16)-(5,12)11(2,13)(17,9)1,15-6
2  3コーナー(2周目)  (*10,14)(7,8,11)(4,18)(3,13,16,9)(5,1,12,15)17...
3  4コーナー(2周目)   (*14,8)11(10,7,18,9)(4,3,13,12,15)16(1,6)(5,17)2

In [66]:
from pathlib import Path
import pandas as pd
from bs4 import BeautifulSoup

# HTML ファイルのパス（さっき確認したもの）
base_dir = Path.cwd().parent
html_path = base_dir / "data" / "raw" / "jra" / "race_pw01sde1008202503091120251026_59.html"

# HTML を読み込んで BeautifulSoup でパース
html = html_path.read_text(encoding="utf-8")
soup = BeautifulSoup(html, "lxml")

# 「着順」ヘッダを持つ table を探して、それだけを pandas に渡す
result_table = soup.find("th", class_="place").find_parent("table")

df_raw = pd.read_html(str(result_table))[0]
df_raw.head()

C:\Users\r_bas\AppData\Local\Temp\ipykernel_26796\2708826834.py:16: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_raw = pd.read_html(str(result_table))[0]

,着順,枠,馬 番,馬名,性齢,負担 重量,騎手名,タイム,着差,コーナー 通過順位,推定上り,馬体重 （増減）,調教師名,単勝 人気,Rt
0,1,NaN,9,エネルジコ,牡3,57.0,C.ルメール,3:04.0,NaN,15 14 8 4,35.0,456(-12),高柳 瑞樹,1,118
1,2,NaN,15,エリキング,牡3,57.0,川田 将雅,3:04.3,２,17 17 12 8,35.2,508(-2),中内田 充正,2,115
2,3,NaN,14,エキサイトバイオ,牡3,57.0,荻野 極,3:04.4,３／４,4 5 2 1,35.7,480(+8),今野 貞一,13,114
3,4,NaN,12,ゲルチュタール,牡3,57.0,坂井 瑠星,3:04.4,ハナ,9 9 12 8,35.2,524(+8),杉山 晴紀,5,114
4,5,NaN,18,レッドバンデ,牡3,57.0,佐々木 大輔,3:04.5,クビ,7 6 6 4,35.5,482(-4),大竹 正博,9,113

In [67]:
df = df_raw.copy()

# 列名を英語ベースにリネーム（機械学習用）
df = df.rename(columns={
    "着順": "finish_rank",
    "枠": "bracket_no",
    "馬番": "horse_no",
    "馬名": "horse_name",
    "性齢": "sex_age",
    "負担重量": "carried_weight",
    "騎手名": "jockey_name",
    "タイム": "time_str",
    "差": "margin_str",              # 「差」になっている場合
    "着差": "margin_str",           # 「着差」になっている場合の保険
    "コーナー通過順位": "corner_order",
    "推定上り": "last_3f_est",
    "馬体重（増減）": "body_weight_raw",
    "馬体重(増減)": "body_weight_raw",
    "調教師名": "trainer_name",
    "単勝人気": "popularity",
    "人気": "popularity",           # 列名が「人気」の場合のため
    "Rt": "rating",
})

df.head()

,finish_rank,bracket_no,馬 番,horse_name,sex_age,負担 重量,jockey_name,time_str,margin_str,コーナー 通過順位,last_3f_est,馬体重 （増減）,trainer_name,単勝 人気,rating
0,1,NaN,9,エネルジコ,牡3,57.0,C.ルメール,3:04.0,NaN,15 14 8 4,35.0,456(-12),高柳 瑞樹,1,118
1,2,NaN,15,エリキング,牡3,57.0,川田 将雅,3:04.3,２,17 17 12 8,35.2,508(-2),中内田 充正,2,115
2,3,NaN,14,エキサイトバイオ,牡3,57.0,荻野 極,3:04.4,３／４,4 5 2 1,35.7,480(+8),今野 貞一,13,114
3,4,NaN,12,ゲルチュタール,牡3,57.0,坂井 瑠星,3:04.4,ハナ,9 9 12 8,35.2,524(+8),杉山 晴紀,5,114
4,5,NaN,18,レッドバンデ,牡3,57.0,佐々木 大輔,3:04.5,クビ,7 6 6 4,35.5,482(-4),大竹 正博,9,113

In [68]:
# 性齢例: "牡3", "牝4", "セ5" など
df[["sex", "age"]] = df["sex_age"].str.extract(r"([牡牝セ騙])(\d+)")
df["age"] = df["age"].astype("Int64")

In [69]:
# ---------------------------------------------------------
# 馬体重「456(-12)」形式 → 本体重・増減 を分解するセル（完全版）
# ---------------------------------------------------------

import pandas as pd

# 1) 「馬体重（増減）」の列を自動検出してコピー
weight_col = [c for c in df.columns if "馬体重" in str(c)][0]

df["body_weight_raw"] = df[weight_col].astype(str)

# 2) 正規表現で「本体重」「増減」を抽出
#   全角マイナス「－」にも対応
pattern = r"(\d+)\s*\(([+\-−]?\d+)\)"

w = df["body_weight_raw"].str.extract(pattern)

# 3) 数値型(Int64)に変換（coerceで NaN 許容）
df["body_weight"] = pd.to_numeric(w[0], errors="coerce").astype("Int64")
df["body_weight_diff"] = pd.to_numeric(w[1], errors="coerce").astype("Int64")

# 4) 確認用
df[["body_weight_raw", "body_weight", "body_weight_diff"]].head()

  body_weight_raw  body_weight  body_weight_diff
0        456(-12)          456               -12
1         508(-2)          508                -2
2         480(+8)          480                 8
3         524(+8)          524                 8
4         482(-4)          482                -4

In [70]:
# === コーナー通過順位を corner_1〜corner_4 に分解する ===

import pandas as pd

# 1) 「コーナー通過順位」の元列名を自動で特定
corner_src = [c for c in df.columns if "コーナー" in str(c)][0]
print("コーナー通過順位の元列:", corner_src)

# 2) 文字列をスペース区切りで4つに分割
corners = (
    df[corner_src]
      .astype(str)
      .str.replace("\u3000", " ", regex=False)  # 全角スペース → 半角
      .str.strip()
      .str.split(r"\s+", expand=True)          # 空白で分割
      .iloc[:, :4]                              # 念のため4列だけに制限
)

corners.columns = ["corner_1", "corner_2", "corner_3", "corner_4"]

# 3) 数値型(Int64)に変換（欠損は NaN 許容）
for c in corners.columns:
    corners[c] = pd.to_numeric(corners[c], errors="coerce").astype("Int64")

# 4) 元の df に結合
df = pd.concat([df, corners], axis=1)

# 5) 確認（列名を修正）
df[["horse_name", corner_src, "corner_1", "corner_2", "corner_3", "corner_4"]].head()

コーナー通過順位の元列: コーナー 通過順位

  horse_name   コーナー 通過順位  corner_1  corner_2  corner_3  corner_4
0      エネルジコ   15 14 8 4        15        14         8         4
1      エリキング  17 17 12 8        17        17        12         8
2   エキサイトバイオ     4 5 2 1         4         5         2         1
3    ゲルチュタール    9 9 12 8         9         9        12         8
4     レッドバンデ     7 6 6 4         7         6         6         4

In [71]:
# タイム情報テーブル (<div class="result_time_data"> 配下)
time_table = soup.select_one("div.result_time_data table")
df_time = pd.read_html(str(time_table))[0]
df_time

C:\Users\r_bas\AppData\Local\Temp\ipykernel_26796\658513805.py:3: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_time = pd.read_html(str(time_table))[0]

        0                                                  1
0  ハロンタイム  13.1 - 11.6 - 11.7 - 12.8 - 11.6 - 12.7 - 13.2...
1      上り                                  4F 47.4 - 3F 35.3

In [72]:
# ハロンタイム
lap_str = df_time.loc[df_time[0] == "ハロンタイム", 1].iloc[0]
lap_times = [float(x.strip()) for x in lap_str.split("-")]

# 上り
up_str = df_time.loc[df_time[0] == "上り", 1].iloc[0]
# 例: "4F 47.4 - 3F 35.3" → 4F,3F のタイムだけ取り出す
import re
m = re.findall(r"(\d+)F\s+([\d\.]+)", up_str)
up_dict = {f"{k}F": float(v) for k, v in m}

lap_times, up_dict

([13.1,
  11.6,
  11.7,
  12.8,
  11.6,
  12.7,
  13.2,
  12.9,
  12.8,
  12.2,
  12.0,
  12.1,
  11.9,
  11.5,
  11.9],
 {'4F': 47.4, '3F': 35.3})

In [73]:
corner_table_all = soup.select_one("div.result_corner_place table")
df_corner_all = pd.read_html(str(corner_table_all))[0]
df_corner_all

C:\Users\r_bas\AppData\Local\Temp\ipykernel_26796\2596485137.py:2: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_corner_all = pd.read_html(str(corner_table_all))[0]

            0                                                  1
0       1コーナー  10-(4,8)(7,14)3(18,16)(5,12)(2,13,17,11)(1,9)15,6
1       2コーナー    10,4,8,7,14(3,18,16)-(5,12)11(2,13)(17,9)1,15-6
2  3コーナー(2周目)  (*10,14)(7,8,11)(4,18)(3,13,16,9)(5,1,12,15)17...
3  4コーナー(2周目)   (*14,8)11(10,7,18,9)(4,3,13,12,15)16(1,6)(5,17)2